<footer class="site-footer" role="contentinfo">
  <nav aria-label="Footer Navigation">
    <ul>
      <li><a href="/trigger-error">Trigger Error</a></li>
    </ul>
  </nav>
  <p>© <%= new Date().getFullYear() %>, CSE 340 App</p>
</footer>
