<header class="site-header" role="banner">
  <div class="inner">
    <div class="brand"><a href="/">CSE Motors</a></div>
    <a class="account-link" href="#" aria-label="My Account">My Account</a>
  </div>
</header>
